.Main

  .Main__header
    %ul.Group-info
      %li.Group-info__name
        = @group.name
      %li.Group-info__member
        = "member:"
        - @group.users.each do |user|
          = user.name
    = link_to "Edit", edit_group_path(@group) , class: "Edit"

  .Main__message
    = render @messages

  .Main__footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Box
        = f.text_field :content, class: 'Box__text', placeholder: 'type a message'
        = f.label :image, class: 'Box__image' do
          = icon('far', 'image', class: 'Box__icon')
          = f.file_field :image, class: 'Box__image__file'
      = f.submit 'Send', class: 'Send'