.Side

  .Side__header
    %ul.Top-items
      %li.Top-items__name
        = current_user.name
      %li.Top-items__icons
        = link_to new_group_path, class: "Top-items__icons__edit" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "Top-items__icons__new-group" do
          = icon('fas', 'cog')
  .Side__main
    - current_user.groups.each do |group|
      .Group-list
        = link_to group_messages_path(group), class: "Group_message_link" do
          .Group-list__name
            = group.name
          .Group-list__message
            = group.show_last_message
